version: '3.8'

services:
  # NGINX - Atua como Load Balancer interno e WAF básico
  nginx:
    image: nginx:alpine
    restart: always
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro

  # CADDY - Gerenciamento automático de SSL e Proxy Reverso
  caddy:
    image: caddy:2
    restart: always
    ports:
      - "80:80"
      - "443:443"
    environment:
      - EMAIL_SSL=${EMAIL_ADMIN}
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
    depends_on:
      - nginx

volumes:
  caddy_data:
